# default system (local, sge, ...)
system = local
#system = sge

# for sun grid engine
sge.pe = shm
sge.mem = h_vmem
sge.timeout = h_rt
taskShell = /bin/bash -e
sysShell = /bin/bash -e -c
pidRegex = "Your job (\\S+)"
clusterPostMortemDisabled = true # prevent error on scg3/4

# checkpoint disabled
disableCheckpoint = true

# to show full commands/stderr/stdout on task
taskMaxHintLen = 300
showTaskCode = true
tailLines = 100000000

# filter out commands including "export" from task hint
filterOutTaskHint = export

clusterRunAdditionalArgs = -V -l tmpfree=10G
#clusterRunAdditionalArgs = -V -A accountID -M user@gmail.com 
