# channels : r, bioconda, astro

bwa ==0.7.13
samtools ==0.1.19
bedtools ==2.19.1
ucsc-wigtobigwig
ucsc-bedgraphtobigwig
ucsc-bigwiginfo
ucsc-bedclip
picard ==1.97
deeptools ==2.2.3
numpy ==1.10.4 #==1.9.3 (conflict)
matplotlib ==1.5.1
macs2 ==2.1.0
boost ==1.57.0
openssl ==1.0.2g-0

#r ==2.15.3 (conflict), this will be later installed (with --force; ignoring dependencies)

#### wrong environment
# picard ==1.97
## picard tool does not have a shell variable PICARDROOT and jar is not picard.jar but picard-1.97.jar
## a softlink picard.jar will be created and linked to it in install_dependencies.sh
## also PICARDROOT will be defined in conda activate.

#### packages not available in official channels
# align2rawsignal ==2.0
# mcr ==2010b

#### run install_dependencies.sh to install these packages
